.LiveCarousel,
.Carousel {
  display: flex;
  align-content: center;
  justify-content: left;
  margin: 8px 0px 8px 8px;
}

.mainpageTitle {
  text-align: left;
  font-weight: 1000;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}
