.LiveCard {
  position: relative;
  flex-direction: column;
  width: 96px;
}

.LiveCardLiveTag {
  position: absolute;
  top: 8px;
  left: 8px;
  margin: auto;
  height: 16px;
  width: 40px;
  background: red;
  font-size: 12px;
  color: white;
  text-align: center;
  border-radius: 8px;
}

.LiveCardImg {
  float: left;
  border-radius: 16%;
  align-items: center;
  height: 120px;
  width: 96px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.LiveCardStoreName {
  float: left;
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;
  width: 96;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.LiveCardStoreTitle {
  float: left;
  font-size: 14px;
  font-weight: bold;
  width: 96px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.LiveCardStoreLive {
  font-size: 10px;
  color: red;
  font-weight: 400;
  width: 96px;
}
