.css-10hburv-MuiTypography-root {
  margin-bottom: 8px;
  font-size: 100px;
  font-weight: 700;
}
.noticeFirst {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalNotice {
  margin: 1rem;
  margin-bottom: 0;
  text-align: start;
  font-size: 16px;
  font-weight: 600;
}

.notice-content {
  white-space: pre-line;
}
