.productCardList {
  margin: 1rem;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .productCardList {
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
  }
}

.productCard {
  width: 100%;
}

.productCardImg {
  width: 100%;
  height: 160px;
  border-radius: 16px;
  align-items: flex-start;
  /* 이미지 크기 어떻게? */
  object-fit: fill;
}

.productCardBrand {
  text-align: left;
  margin-top: 8px;
  font-size: 12px;
}

.productCardName {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: black;
}

.productCardTag {
  display: flex;
  /* grid-template-columns: 1fr 3fr 2fr; */
  align-items: center;
}

.productCardDiscount {
  font-size: 16px;
  color: red;
  font-weight: 600;
  margin-right: 4px;
}

.productCardPrice {
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin-right: 4px;
}

.productCardBeforePrice {
  font-size: 14px;
  font-weight: 500;
  color: black;
  text-decoration: line-through;
}
