.reviewImg {
  height: 72px;
  width: 72px;
  border-radius: 16px;
  margin-right: 16px;
}

.reviewItemBrand {
  font-size: 14px;
  font-weight: 700;
}

.reviewItem {
  font-size: 18px;
  font-weight: 700;
}

.reviewRate {
  font-size: 16px;
  font-weight: 700;
}

.reviewContent {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: start;
}
