img {
  height: 360px;
  width: 360px;
}

hr {
  margin: 8px;
}

.detail-basic-info,
.detail-size-info,
.detail-detail-info,
.detail-store-info {
  margin: 0px 0px 0px 8px;
}

.detail-basic-info div,
.detail-size-info div,
.detail-detail-info div,
.detail-store-info div {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.detail-post-store,
.detail-size,
.detail-detail {
  font-size: 14px;
  margin: 8px 0px 0px 0px;
}

.detail-br-cateId {
  font-size: 15px;
  margin: 8px 0px 0px 0px;
  color: gray;
}

.detail-post-title {
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0px 0px 0px;
}

.detail-price {
  margin: 8px 0px 0px 0px;
}

.detail-sale-percent {
  color: red;
  font-weight: bold;
}

.detail-post-sale-price {
  font-weight: bold;
  margin: 0px 0px 0px 8px;
}

.detail-post-price {
  text-decoration: line-through;
  color: gray;
  margin: 0px 0px 0px 8px;
}

.detail-size-name,
.detail-detail-name,
.detail-store-name {
  font-size: 16px;
  font-weight: bold;
}
