.alarm-img {
  height: 80px;
  width: 80px;
  border-radius: 16px;
}

.alram-name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}
/* 
.store-introduce {
  margin-left: 16px;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
} */
