.AlarmTag {
	display: flex;
}

.AlarmImg {
  border-radius: 16%;
  height: 72px;
  width: 72px;
	margin-top: 8px;
  margin-left: 16px;
}

.AlarmContent {
	margin-top: 16px;
	margin-left: 16px;
	text-align: left;
	display: flex;
	align-items: center;
	height: 48px;
	width: 208px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.AlarmContent > span {
	align-items: center;
	font-size: 14px;
}

.AlarmCloseIcon {
	margin-top: 32px;
	margin-left: 8px;
	text-align: right;
	height: 16px;
  width: 16px;
}

.AlarmHr {
  margin: 0px;
  margin-top: 8px;
  margin-left: 16px;
  width: 328px;
}