.store-img {
  height: 80px;
  width: 80px;
  border: 1px solid #dfbf96;
  border-radius: 16px;
}

.store-info {
  margin: 0px 16px 0px 8px;
  width: 100%;
}

.store-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.store_like {
  display: flex;
  align-items: center;
}

.store-name {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.store-cnt {
  font-size: 16px;
}
.store-introduce { 
  font-weight: 500;
  font-size: 15px;
  text-align: left;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
}
