.Card {
  position: relative;
  flex-direction: column;
  width: 96px;
}

.CardImg {
  float: left;
  display: flex;
  border-radius: 16%;
  align-items: center;
  height: 120px;
  width: 96px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CardBrand {
  float: left;
  margin-top: 8px;
  display: flex;
  font-size: 10px;
  font-weight: 1000;
  width: 96;
  text-align: left;
}

.CardName {
  float: left;
  display: flex;
  font-size: 14px;
  font-weight: 1000;
  width: 96px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}

.CardDiscount {
  float: left;
  font-size: 10px;
  color: red;
  font-weight: 600;
  width: 20px;
}

.CardPrice {
  float: right;
  text-align: right;
  font-size: 10px;
  font-weight: 600;
  width: 66px;
}