.Card {
  position: relative;
  flex-direction: column;
  display: inline-block;
  width: 96px;
  margin: 0px;
}

.CardImg {
  float: left;
  display: flex;
  border-radius: 16%;
  align-items: center;
  height: 120px;
  width: 96px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CardBrand {
  float: left;
  margin-top: 8px;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  width: 96;
  text-align: left;
  color: black;
}

.CardName {
  font-size: 12px;
  font-weight: bold;
  width: 96px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: black;
}

.CardDiscount {
  float: left;
  font-size: 10px;
  color: red;
  font-weight: 600;
  width: 20px;
}

.CardPrice {
  text-align: right;
  font-size: 10px;
  font-weight: 600;
  width: 66px;
  color: black;
}

.CardSalePrice {
  text-align: right;
  font-size: 8px;
  font-weight: 500;
  width: 66px;
  color: gray;
  text-decoration: line-through;
}
