.GoodListdiv {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.GoodListdiv img {
  margin: 8px 16px 8px 8px;
  height: 64px;
  width: 64px;
}

.GoodListdivdiv {
  overflow: hidden;
}

.Good-name {
  font-size: 14px;
  margin: 4px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.Good-price {
  font-size: 12px;
  margin: 4px 0px;
}

.Good-price span {
  font-weight: bold;
}
