.orderedImg {
  height: 72px;
  width: 72px;
  border-radius: 16px;
  margin-right: 16px;
}

.orderedBrand {
  font-size: 14px;
  font-weight: 700;
}

.orderedName {
  font-size: 18px;
  font-weight: 700;
}

.orderedPrice {
  font-size: 16px;
  font-weight: 500;
}

.reviewBtn {
  margin-left: 1rem;
  margin-right: 1rem;
}
