.totalOrdered {
  margin: 1rem;
  margin-bottom: 0;
  text-align: start;
  font-size: 16px;
  font-weight: 600;
}

.orderedImg {
  height: 72px;
  width: 72px;
  border-radius: 16px;
  margin-right: 16px;
}

.orderedBrand {
  font-size: 14px;
  font-weight: 700;
}

.orderedName {
  font-size: 18px;
  font-weight: 700;
}

.orderedPrice {
  font-size: 16px;
  font-weight: 500;
}
