.App {
  text-align: center;
  /* width: 360px; */
  height: 800px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App header {
  display: inline;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.brands {
  margin-top: 16px;
  margin-bottom: 16px;
  white-space: nowrap;
  overflow-x: auto;
  /* touch-action: auto; */
}

.brand {
  display: inline-block;
  width: 41px;
  height: 65px;
  line-height: 12px;
  text-align: center;
  font-size: 10px;
  margin-left: 16px;
}

.brand img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 16px;
}

.categories {
  margin-top: 16px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.category {
  /* display: inline-block; */
  width: 56px;
  height: 100%;
  line-height: 12px;
  text-align: center;
  font-size: 10px;
}

.category img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 16px;
}

.category p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  /* align-items: center; */
  /* text-align: center; */
}

.Mui-selected {
  background: #d9d9d9;
}
