.noted_reg_title,
.noted_reg_detail {
  margin: 8px 0px 0px 8px;
}

.noted_reg_title p,
.noted_reg_detail p {
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
}

textarea {
  resize: none;
}

.noted_reg_title,
.noted_reg_detail {
  margin: 0px 16px 0px 8px;
}

#noted_reg_title,
#noted_reg_detail {
  width: 100%;
  padding: 4px 0px 4px 8px;
  margin: 8px 0px 0px 8px;
  display: flex;
  align-items: center;
  justify-content: left;
}

#noted_reg_detail {
  height: 100px;
}
