.review_reg_title,
.review_reg_detail,
.review_reg_star {
  margin: 8px 0px 0px 8px;
}

.review_reg_title p,
.review_reg_detail p,
.review_reg_star p {
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
}

textarea {
  resize: none;
}

#review_reg_title,
#review_reg_detail {
  width: 100%;
  padding: 4px 0px 4px 8px;
  margin: 8px 0px 0px 8px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.review_reg_title,
.review_reg_detail {
  margin: 0px 16px 0px 8px;
}

#review_reg_detail {
  height: 100px;
}

.review_star-ratings {
  margin: 0px 0px 0px 8px;
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: gold;
}

.review_star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}

.review_star-ratings-base {
  z-index: 0;
  padding: 0;
}
